$white: white;
$light_gold: #d7c891;
$gold: #957841;
$dark_gold: #84754e;
$gold_hover: #9c814c;
$dark_gold_hover: #8c6f2a;
$gold_shadow: #908058;
$black: #3e3e3e;
$background-modal: #d7c891;

@import url("https://fonts.googleapis.com/css?family=Poppins");

@font-face {
    font-family: "oBlack";
    src: url("./Object Black.otf") format("truetype");
}
@font-face {
    font-family: "oBold";
    src: url("./Object Bold.otf") format("truetype");
}
@font-face {
    font-family: "oExtraBold";
    src: url("./Object Extra Bold.otf") format("truetype");
}
@font-face {
    font-family: "oExtraLight";
    src: url("./Object Extra Light.otf") format("truetype");
}
@font-face {
    font-family: "oLight";
    src: url("./Object Light.otf") format("truetype");
}
@font-face {
    font-family: "oMedium";
    src: url("./Object Medium.otf") format("truetype");
}
@font-face {
    font-family: "oRegular";
    src: url("./Object Regular.otf") format("truetype");
}
@font-face {
    font-family: "oUltraLight";
    src: url("./Object Ultra Light.otf") format("truetype");
}
@font-face {
    font-family: "osHeavy";
    src: url("./ObjectSans-Heavy.otf") format("truetype");
}
@font-face {
    font-family: "osRegular";
    src: url("./ObjectSans-Regular.otf") format("truetype");
}

// USAGE
.oBlack {
    font-family: "oBlack", sans-serif;
    font-feature-settings: "lnum";
}
.oBold {
    font-family: "oBold", sans-serif;
    font-feature-settings: "lnum";
}
.oExtraBold {
    font-family: "oExtraBold", sans-serif;
    font-feature-settings: "lnum";
}
.oExtraLight {
    font-family: "oExtraLight", sans-serif;
    font-feature-settings: "lnum";
}
.oLight {
    font-family: "oLight", sans-serif;
    font-feature-settings: "lnum";
}
.oMedium {
    font-family: "oMedium", sans-serif;
    font-feature-settings: "lnum";
}
.oRegular {
    font-family: "oRegular", sans-serif;
    font-feature-settings: "lnum";
}
.oUltraLight {
    font-family: "oUltraLight", sans-serif;
    font-feature-settings: "lnum";
}
.osHeavy {
    font-family: "osHeavy", sans-serif;
    font-feature-settings: "lnum";
}
.osRegular {
    font-family: "osRegular", sans-serif;
    font-feature-settings: "lnum";
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}
::-webkit-scrollbar-corner {
    background-color: #646464;
}
::-webkit-resizer {
    background-color: #666;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.m-auto {
    margin: auto;
}

.logo {
    width: 30%;

    img {
        width: 85% !important;
    }
}

.navbar-letters {
    font-size: 0.9vw;
    color: $gold !important;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $gold;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    &:hover:before {
        visibility: visible;
        width: 100%;
    }
}

#navbar {
    width: 60%;
    margin-left: 5%;
}

#navbar-without-logo {
    width: 100%;
}

.section-intro-home {
    width: 80%;
    margin: auto;
}

.section-space-mobile {
    width: 80%;
    margin: auto;
}

.banner-intro-home {
    height: 100%;
    object-fit: cover;

    max-height: 70vh;
}

.carousel-control-next {
    margin-right: 4%;
    font-size: 25px;
    right: 64% !important;
    top: 100% !important;
    display: table-row !important;
    margin-top: -5% !important;
}
.carousel-control-prev {
    left: -50% !important;
}

.mt-10 {
    margin-top: 10% !important;
}

.center-footer {
    flex: 1 1 auto;
    padding: 1rem;
    .menu-mobile-options {
        top: 65% !important;
    }
}

.head-x-small {
    font-size: calc(16px + 12 * (27vw - 769px) / 1151);
    color: $light_gold;
    line-height: 1;
    a:hover {
        color: $light_gold;
        font-weight: bold;
        text-decoration: none;
    }
    @media (max-width: 900px) {
        font-size: calc(19px + 12 * (27vw - 769px) / 1151);
    }
}

.title-large {
    font-size: calc(19px + 12 * (100vw - 769px) / 1151);
    color: $gold;
    line-height: 1;
    @media (max-width: 900px) {
        font-size: calc(30px + 12 * (27vw - 769px) / 1151);
        line-height: 1.2;
    }
}

.details-small {
    font-size: calc(11px + (3 * (100vw - 769px)) / 1151);
    color: $gold !important;
    @media (max-width: 900px) {
        font-size: calc(13px + (3 * (100vw - 769px)) / 1151);
        line-height: 2;
    }
}

.btn-gold {
    border-radius: 30px !important;
    color: $white !important;
    background-color: $gold !important;
    border-color: $gold !important;
    font-size: calc(7px + 6 * (100vw - 769px) / 1189) !important;
    width: 140px;
    box-shadow: 0 0.1rem 0.4rem $gold_shadow;
    margin-top: 50px;
    &:hover {
        color: $gold !important;
        border-color: $gold !important;
        background-color: $white !important;
    }
    @media (max-width: 900px) {
        font-size: calc(12px + 6 * (100vw - 769px) / 1189) !important;
        width: 60%;
        margin-top: 5%;
        line-height: 2 !important;
    }
}
.button-intro-home-saber-mais {
    border-radius: 30px !important;
    color: $white !important;
    background-color: $gold !important;
    border-color: $gold !important;
    font-size: calc(7px + 6 * (100vw - 769px) / 1189) !important;
    width: 140px;
    box-shadow: 0 0.1rem 0.4rem $gold_shadow;
    margin-top: 50px;
    &:hover {
        color: $gold !important;
        border-color: $gold !important;
        background-color: $white !important;
    }
    @media (max-width: 900px) {
        font-size: calc(12px + 6 * (100vw - 769px) / 1189) !important;
        width: 60%;
        margin-top: 5%;
        line-height: 2 !important;
    }
}

.margin-sections {
    margin: 12vw auto calc(60px + (100 * (100vw - 320px)) / 1600);
}

.details-large {
    font-size: calc(16px + 12 * (100vw - 769px) / 1151);
    color: $gold;
    line-height: 110%;
    font-weight: 500;
}

.details-x-large {
    font-size: calc(30px + 12 * (100vw - 769px) / 1151);
    color: #957841;
    line-height: 1;
}

.bold {
    font-weight: bold;
}

.title-x-large {
    font-size: calc(35px + 12 * (100vw - 769px) / 1151);
    color: #84754e;
    font-weight: 650;
    line-height: 1;
}

.white {
    color: $white !important;
}

.card-gold {
    background-color: $light_gold !important;
    color: $white !important;

    .especialidades-button {
        background-color: $light_gold !important;
        color: $white !important;
        border-color: $white !important;
        &:hover {
            color: $dark_gold !important;
            background-color: $white !important;
        }
        @media (max-width: 990px) {
            font-size: calc(18px + 12 * (25vw - 694px) / 1197) !important;
            min-width: 45%;
        }
    }
}

.details-xx-small {
    font-size: calc(16px + 12 * (27vw - 769px) / 1151);
    color: $gold;
    height: 90px;
    display: table-cell;
    vertical-align: middle;
    @media (max-width: 990px) {
        font-size: calc(18px + 12 * (27vw - 769px) / 1151);
        color: #957841;
        height: 0px;
        display: table-cell;
        line-height: 2;
    }
}

.especialidades-button {
    background-color: $white !important;
    color: $gold !important;
    border-color: $gold !important;
    border-radius: 40px !important;
    font-size: calc(14px + 12 * (25vw - 694px) / 1197) !important;
    &:hover {
        color: $white !important;
        background-color: $dark_gold !important;
        border-color: $white !important;
    }
    &:focus {
        box-shadow: 0 0 0.9rem $gold !important;
    }
    @media (max-width: 990px) {
        font-size: calc(18px + 12 * (25vw - 694px) / 1197) !important;
        min-width: 45%;
    }
    @media (min-width: 1150px) {
        font-size: calc(15px + 12 * (25vw - 694px) / 1197) !important;
    }
}

.calCell {
    width: 100%;
    height: 100%;
    display: block;

    &.svg:hover {
        display: inline-block;
        display: flex;
        @media (max-width: 990px) {
            width: 190px !important;
        }
    }
}

.svg {
    width: 30px;
    height: 20px;
    transition: width 2s ease;
    overflow: visible;
    display: inline-block;
    align-self: flex-end;
    @media (max-width: 990px) {
        width: 70px !important;
    }
    &:hover {
        width: 65px !important;
        align-self: flex-end;
        @media (max-width: 990px) {
            width: 190px !important;
        }
        + .hover-to-show {
            opacity: 1;
            transition: all 0.2s ease-in-out;
            visibility: visible;
            display: inline-block;
            color: $dark_gold !important;
            align-self: flex-end;
            margin-left: 5%;
        }
    }
}

.hover-to-show {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    align-self: flex-end;
    margin-left: 5%;
}

.calcell2 {
    width: 100%;
    height: 100%;
    display: table;
}

.arrow-left {
    width: calc(175px + 12 * (100vw - 769px) / 1151);

    &:hover {
        width: calc(205px + 12 * (100vw - 769px) / 1151);
        display: table-cell;

        ~ .hover-show {
            display: table-cell !important;
            color: black;
        }
    }
}

.img-noticias {
    max-height: 350px;
    object-fit: cover;
}

.no-space-n-cols {
    --bs-gutter-x: 0 !important;
}

.head-medium {
    font-size: calc(21px + 12 * (27vw - 769px) / 1151);
    color: $gold;
    @media (max-width: 990px) {
        font-size: calc(24px + 12 * (27vw - 769px) / 1151);
    }
}

.input-form {
    font-size: calc(16px + 12 * (27vw - 769px) / 1151) !important;
    margin-bottom: calc(16px + 12 * (27vw - 769px) / 1151) !important;
    color: $gold !important;
    border-bottom: 1.5px solid $dark_gold;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    font-size: 12px;
    width: 100%;
    height: 100%;
    background: transparent !important;
    @media (max-width: 990px) {
        font-size: calc(20px + 12 * (27vw - 769px) / 1151) !important;
        padding-bottom: calc(15px + 12 * (27vw - 769px) / 1151) !important;
    }
}

::-webkit-input-placeholder {
    /* Edge */
    color: $gold;
    @media (max-width: 990px) {
        padding-bottom: calc(15px + 12 * (27vw - 769px) / 1151) !important;
    }
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: $gold;
    @media (max-width: 990px) {
        padding-bottom: calc(15px + 12 * (27vw - 769px) / 1151) !important;
    }
}

::placeholder {
    color: $gold;
    @media (max-width: 990px) {
        padding-bottom: calc(15px + 12 * (27vw - 769px) / 1151) !important;
    }
}

input[type="text" i] {
    @media (max-width: 990px) {
        padding-bottom: calc(15px + 12 * (27vw - 769px) / 1151) !important;
    }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-box-shadow: 0 0 0 30px #fbf9f3 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: $gold !important;
}

input:focus-visible {
    outline: none;
}
/* button of "politica de privacidade" */
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: $gold;
}
.css-hyxlzm {
    color: $gold;
}

.head-xx-small {
    font-size: calc(9px + (3 * (100vw - 769px)) / 1151);
    color: $gold;
    margin: auto;
    @media (max-width: 990px) {
        font-size: calc(11px + (3 * (100vw - 769px)) / 1151);
    }
}

.center {
    text-align: center;
}

.underline {
    text-decoration: underline !important;
    &:hover {
        color: $light_gold !important;
    }
}

.text-decoration-none {
    text-decoration: none !important;
}

.container-questoes {
    width: 90%;
    text-align: center;
    margin: auto;
}

.left {
    text-align: left !important;
}

.btn-questoes {
    background-color: transparent !important;
    color: $gold !important;
    border-color: $gold !important;
    border-radius: 40px !important;
    font-size: calc(14px + 12 * (25vw - 694px) / 1197) !important;
    font-weight: 500 !important;
    line-height: 2 !important;
    &:hover {
        color: $white !important;
        background-color: $dark_gold !important;
        border-color: $white !important;
    }
    &:focus {
        box-shadow: 0 0 0.9rem $gold !important;
    }
    @media (max-width: 990px) {
        font-size: calc(20px + 12 * (25vw - 694px) / 1197) !important;
        width: 70%;
    }
    @media (min-width: 1150px) {
        font-size: calc(15px + 12 * (25vw - 694px) / 1197) !important;
        width: 60%;
        font-weight: 500 !important;
    }
}

.heigth-footer {
    height: calc(250px + 31 * (76vw - 686px) / 1174) !important;
}

.right {
    text-align: right !important;
}

.half-width {
    width: 50% !important;
    @media (max-width: 1300px) {
        width: 70% !important;
    }
}

.footer-text {
    font-size: calc(16px + 12 * (25vw - 694px) / 1197) !important;
    color: $white !important;
    text-decoration: none !important;
    line-height: 3;
    @media (max-width: 990px) {
        font-size: calc(18px + 12 * (25vw - 514px) / 1045) !important;
    }
}

.footer-text-bottom {
    display: inline-block;
    align-self: flex-end;
    line-height: 1 !important;
}

.footer-text-menu-mobile {
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 15px 0;
    .footer-text {
        @media (max-width: 990px) {
            line-height: 2;
        }
    }
}

.cover-invisalign {
    width: 85%;
    object-fit: cover;
    margin: auto;
}

.menu-mobile-options {
    position: absolute;
    top: 50%;
    margin-top: -290px !important;
    max-width: 95%;
}

.width-footer {
    width: 95% !important;
}

.footer-icons {
    width: 135%;
    @media (max-width: 1100px) {
        width: 170% !important;
    }
}

.footer-icons-mobile {
    width: 60% !important;
}

.margin-5 {
    margin: 5% !important;
}

.background-sobrenos {
    height: calc(700px + 43 * (300vw - 723px) / 1166) !important;
}

.btn-big {
    line-height: 2 !important;
    width: 60%;
}

.container-corpo-clinico {
    width: 80%;
    margin: auto !important;
}

.light-gold {
    color: $light_gold !important;
}

.no-repeat {
    background-repeat: no-repeat !important;
}

.head-large {
    font-size: calc(30px + 12 * (27vw - 769px) / 1151);
    color: #957841;
}

.head-small {
    font-size: calc(18px + 12 * (27vw - 769px) / 1151);
    color: #957841;
    line-height: 0;
}

.width-90 {
    width: 90% !important;
}

// slide in page "sobrenos" - "A Opinião dos Pacientes"
.slick-slider {
    line-height: 0;
}
.slick-track {
    display: flex !important;
}
.slick-list {
    overflow: hidden;
}

.slick-slider {
    display: flex !important;
    line-height: 2;
}

.slider-opinioes {
    width: 55% !important;
}

.slick-slide {
    height: inherit !important;
    margin: 0 27px;
    display: flex;
}

.slide {
    height: 100%;
}
// end of slide in page "sobrenos" - "A Opinião dos Pacientes"

.opinioes {
    margin: 10%;
    text-align: center;
}

.container-opinioes {
    flex: 1;
    height: 100%;
    display: flex;
}

.p-opinioes {
    margin: auto;
    padding: 15%;
    text-align: justify;
    display: flex;
    height: auto;
}

.gold-rectangule {
    border: 1px solid $light_gold;
    height: 80% !important;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.head-xxx-small {
    font-size: calc(2px + 12 * (95vw - 769px) / 1151);
    color: $gold;
    margin: auto;
}

.arrows {
    cursor: pointer;
}

.background-bottom {
    background-position: bottom;
}

// btn fixed in home - black btn in right that follows the page
.container-btn-marcacao {
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 10px;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 100px;
    text-decoration: none !important;
    z-index: 99;
}

.btn-text-marcacao {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    white-space: nowrap; /*Keep text always one line*/
    overflow: hidden;
    width: 0;
    transition: width 1s;

    .details-small {
        color: $white !important;
        font-size: calc(4px + 12 * (100vw - 769px) / 1151);
    }
}

a {
    text-decoration: none;
}

.btn-icon-marcacao {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon-marcacao:hover + .btn-text-marcacao {
    width: 200px;
    z-index: 99;
    color: $white !important;
    text-decoration: none !important;
}
.btn-text-marcacao:hover {
    width: 200px;
    z-index: 99;
    color: $white !important;
    text-decoration: none !important;
}
// end of btn fixed in home - black btn in right that follows the page

// arrow in homepage , section "Noticias"
.carousel-arrow-left {
    transition: 250ms all ease;
}
// end arrow in homepage , section "Noticias"

.heigth-banner {
    background-position: center;

    @media (max-width: 1500px) {
        height: 150px;
    }
    @media (min-width: 1500px) and (max-width: 2000px) {
        height: 200px;
    }
}

.bg-white {
    background-color: $white !important;
}

.gold {
    color: $gold !important;
}

.col-20 {
    width: 20% !important;
    @media (max-width: 1000px) {
        width: 100% !important;
    }

    @media (min-width: 1000px) and (max-width: 1300px) {
        width: 25% !important;
    }
}

.col-80 {
    width: 80% !important;
    @media (max-width: 1000px) {
        width: 100% !important;
    }
    @media (min-width: 1000px) and (max-width: 1300px) {
        width: 75% !important;
    }
}

.btn-card-white {
    bottom: 12%;
    left: 22%;
    position: absolute;
    &:hover {
        color: $gold !important;
        background-color: transparent !important;
        border: 1px solid #ba9e66 !important;
        box-shadow: 0 0.1rem 0.4rem $gold_shadow;
    }
}

.line-height {
    line-height: 1.5 !important;
}

.mb-50 {
    margin-bottom: 50%;
}

.bg-position-bottom {
    background-position: bottom;
}

.modal-marcacao-rapida .modal-content {
    background-color: $gold_hover;
    color: $white !important;
    .details-large,
    .details-xx-small,
    .head-medium,
    p,
    .head-xx-small,
    input,
    label {
        color: $white;
    }
    .input-form {
        color: $white !important;
        border-bottom: 1.5px solid $light_gold;
        option,
        optgroup {
            color: $gold !important;
        }
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: $white;
    }

    :-ms-input-placeholder {
        /* Internet Explorer */
        color: $white;
    }

    ::placeholder {
        color: $white;
    }

    /* Change the white to any color */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $gold_hover inset !important;
    }
    /*Change text in autofill textbox*/
    input:-webkit-autofill {
        -webkit-text-fill-color: $white !important;
    }
    /* button of "politica de privacidade" */
    .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
        color: $white;
    }
    .css-hyxlzm {
        color: $white;
    }
}

.hover-border-gold {
    &:hover {
        border: 1px solid #ba9e66;
    }
}

.padding-5-3 {
    padding: 5rem 3rem;
}

.padding-2-2 {
    padding: 2rem 2rem;
}

.icon-clinico {
    width: 50% !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.black {
    color: $black !important;
}

.p-over-image-invisalign {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 30%;
    @media (max-width: 990px) {
        top: 15%;
        left: 47%;
    }
}

.btn-invisalign {
    bottom: 5%;
    left: 28%;
    line-height: 2;
}

.up {
    position: fixed;
    left: -240px;
    width: 40%;
}

.up-sobrenos {
    position: absolute;
    width: 40%;
    left: -9%;
    bottom: 17%;
}

.space-sections {
    margin-top: 170px !important;
    @media (max-width: 990px) {
        margin-top: 70px !important;
    }
}

.section-sobre-nos-home {
    width: 80%;
    margin: 5%;
}

.user-icon {
    border-radius: 100%;
    box-shadow: 0 0 3px 2px #ba9e66;
    width: 110px;
}

.card-especialidades {
    border: 1px solid $light_gold;
    height: auto;
}

.especialidades-img {
    margin-bottom: 0 !important;
}

.card-white-left {
    border: 1px solid $gold !important;
    width: 90%;
    border-radius: 2px;
    flex: 1;
    text-align: left;
}

.margin-l-05 {
    margin-left: 0.5rem !important;
}

.card-white-img {
    width: 100%;
    margin: auto;
    display: block;
}

.table-cell-vertical-middle {
    display: table-cell !important;
    vertical-align: middle !important;
}

.padding-r-0 {
    padding-right: 0 !important;
}

.padding-l-7 {
    padding-left: 7px !important;
}

.height-80 {
    height: 80%;
}

.height-max {
    height: 100% !important;
}

.max-width {
    width: 100% !important;
}

.button-noticias-ler-todas {
    color: white !important;
    background-color: $dark_gold !important;
    border-color: $dark_gold !important;
    width: 100%;
    text-align: center !important;
    vertical-align: middle !important;
    height: 30px;
    border-radius: 50px !important;
    box-shadow: 0px 3px 5px 1px $gold;

    p {
        font-size: 10px !important;
    }

    &:hover {
        color: $dark_gold !important;
        background-color: $white !important;
        border-color: $white !important;
    }
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
    box-shadow: 0 0 0.9rem $gold !important;
}

.col-marcacao-rapida {
    padding-left: 80px;
    padding-right: 50px;
    padding-top: 5%;
    @media (max-width: 990px) {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0%;
    }
}

.height-especialidades-img {
    height: 8vh;
}

#modal-menu {
    .modal-content {
        background-color: $background-modal;
    }
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-out {
    opacity: 0;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 0;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.pl-20 {
    padding-left: 20%;
}

.pr-10 {
    padding-right: 10%;
}

.btn-menu-mobile {
    position: fixed;
    z-index: 999;
    right: 10%;
    top: 5%;
    transition: rotate_in_cw;

    @keyframes rotate_in_cw {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(45deg);
        }
    }
    @keyframes rotate_out_cw {
        0% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @keyframes draw_in {
        50% {
            stroke-dashoffset: 100%;
        }
        100% {
            stroke-dashoffset: 0%;
        }
    }
    @keyframes draw_out {
        50% {
            stroke-dashoffset: 0%;
        }
        100% {
            stroke-dashoffset: 100%;
        }
    }
}

.bg-cover {
    background-size: cover;
}

.height-100vh {
    height: 100vh;
}

.heigth-50vh {
    height: 50vh;
}
.t-15 {
    top: 15%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sobrenos {
    .head-medium {
        line-height: 0.5;
    }
}

.img-blog {
    max-width: 50vh;
    z-index: 999999;
    max-height: 40vh;
}

.blog-right-text {
    margin-top: auto;
    margin-left: 5%;
    width: 35%;
}

.btn-more-posts {
    background-color: $white !important;
    color: $gold !important;
    border-color: $gold !important;
    border-radius: 40px !important;
    width: 10%;
    z-index: 9999;
    margin: auto;
    display: flex;
    &:hover {
        color: $white !important;
        background-color: $dark_gold !important;
        border-color: $white !important;
    }
    &:focus {
        box-shadow: 0 0 0.9rem $gold !important;
    }
    @media (max-width: 990px) {
        width: 50%;
    }
}

.highlight-img {
    object-fit: cover;
    max-height: 45vh;
    max-width: 90vh;
}

.blog-html {
    img {
        object-fit: cover;
        max-height: 70vh;
        max-width: 90vh;
        @media (max-width: 990px) {
            max-width: calc(42vh + 12 * (100vh - 769vh) / 1151);
        }
    }
}

.arrow1:hover {
    fill: yellow;
    transition: fill 2s;
}

#arrow-effect {
    margin-top: -25%;
    z-index: 9999;
}

.hover-to-show-carousel {
    opacity: 1 !important;
    margin-left: 5%;
    margin-top: 32%;
    -webkit-transform: scaleY(1) !important;
    transform: scaleY(1) !important;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform 0.26s ease;
    transition: transform 0.26s ease;
    transition: transform 0.26s ease, -webkit-transform 0.26s ease;
    position: absolute;
}

.container-arrow-noticias {
    margin-left: -10%;
}

.container-arrow-blog {
    margin-top: 30%;
    margin-bottom: -25%;
    margin-left: -10%;
}

.container-noposts {
    height: 70vh;
    filter: opacity(0.2);
}

.over-text-noposts {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 990px) {
        top: 20%;
    }
}

.container-contactos {
    position: relative;
    padding: 0 6vw;
    margin-top: -50vh;
    color: #ba9e66;
    width: 100%;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1.4fr 1fr;
    @media only screen and (max-width: 1090px) {
        grid-template-columns: 1fr;
    }
}

.contactos-map {
    position: relative;
    width: 100%;
    height: 40vw;
    padding: 3rem 6vw 8vw;
    @media only screen and (max-width: 768px) {
        height: 80rem;
        padding: 3rem 6vw 20rem;
    }
}

.margin-bottom-svg{
    margin-bottom: -45%;
}

.container-img-blog{
    width: 50vh
}

.max-width-8vh{
    max-width: 8vh;
}